// start glopal

$main-color: rgb(89, 198, 188);
$yellow-color: rgb(255, 245, 104);
$color-font: rgb(80, 80, 80);

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: flight;
  src: url(../fonts/JF-Flat-light.ttf);
}

@font-face {
  font-family: fmedium;
  src: url(../fonts/JF-Flat-medium.ttf);
}

@font-face {
  font-family: fregular;
  src: url(../fonts/JF-Flat-regular.ttf);
}

@font-face {
  font-family: fge;
  src: url(../fonts/ge-tv.ttf);
}

// a

.container {
  width: 85%;
  margin: auto;
}

// end glopal

.main-header {
  background-color: $main-color;
  height: 95px;

  nav {
    height: 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .brand {
      img {
        display: inline-block;
        width: 231px;
      }

      @media (max-width: 991px) {
        img {
          width: 130px;
        }
      }
    }

    ul {
      display: flex;
      align-items: center;
      gap: 36px;

      li {
        a {
          color: $color-font;
          font-family: flight;
          font-size: 15px;
        }
        &.active {
          background-color: $yellow-color;
          padding: 6px 30px;
          border-radius: 50px;

          a {
            color: $color-font;
            font-family: flight;
            font-size: 15px;
          }
        }

        a {
          color: #fff;
        }
      }
    }

    @media (max-width: 991px) {
      ul {
        display: none;
      }
    }
  }
}
.wilcome {
  background-image: url("../image/welcom-bg.png");
  background-size: cover !important;
  height: 600px;
  width: 100%;
  // padding: 0 200px;
  h1 {
    font-family: fregular;
    font-weight: bold;
    font-size: 51px;
    padding: 100px 0 0 0;
    color: #fff;
  }
  p {
    font-family: flight;
    font-size: 24px;
    width: 400px;
    padding: 45px 0;
    font-weight: bold;
    color: #fff;
  }
  .link_more {
    font-family: fmedium;
    color: #505050;
    background-color: $yellow-color;
    padding: 12px 40px;
    border-radius: 28px;
  }
}
.boxs {
  padding: 85px 0;
  .father {
    display: flex;

    .san {
      width: 290px;
      padding: 55px 50px;
      align-content: center;
      p {
        padding: 20px 0;
        font-family: fmedium;
        width: 200px;
        color: white;
      }
    }
    .c1 {
      background-color: #2d98a2;
    }
    .c2 {
      background-color: $main-color;
    }
    .c3 {
      background-color: #eb774c;
    }
    .c4 {
      background-color: #edbf47;
    }
  }
}
.box_nows {
  background-color: #fafafa;
  padding: 80px 0px;
  .boxF {
    .haedr_nows {
      display: flex;
      flex-direction: column;
      // justify-content: center;
      align-items: center;
      h1 {
        color: #505050;
        font-family: fmedium;
        font-size: 24px;
      }
      p {
        color: #59c6bc;
        font-family: flight;
        font-size: 14px;
      }
    }
    .allnews {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 50px;
      .nows {
        background-color: #f0efef;
        width: 260px;

        .imgching {
          background-image: url("../image/last-news-1.png");
        }
        .imgching2 {
          background-image: url("../image/last-news-2.png");
        }
        .imgching3 {
          background-image: url("../image/last-news-3.png");
        }
        .backimge {
          // background-size: cover !important;
          width: 260px;
          height: 200px;
          padding: 5px;

          p {
            background-color: #edbf47;
            text-align: center;
            border-radius: 5px;
            padding: 2px 10px;
            width: 50px;
          }
        }
        .secindbox {
          display: flex;
          flex-direction: column;
          gap: 5px;
          padding: 10px;
          p {
            font-family: flight;
          }
          .p1 {
            &::before {
              content: " ";
              display: inline-block;
              background-image: url("../image/TIME.png");
              background-size: cover;

              width: 15px;
              height: 15px;
            }
          }
          .p2 {
            font-family: fmedium;
          }
          a {
            text-align: center;
            font-family: flight;
            background-color: #fff568;
            font-weight: bold;
            border-radius: 13px;
            padding: 5px 10px;
            width: 100px;
            color: #000;
          }
        }
        .i1 {
          // text-align: center;
        }
      }
    }
  }
}
.option {
  background-color: rgba(108, 197, 179, 0.671);
  // height: 300px;
  padding: 50px;

  .top_option {
    text-align: center;
    h3 {
      font-family: fmedium;
      color: #fff;
    }
    p {
      font-family: flight;
      color: #fff;
      font-weight: bold;
    }
  }
  .under_option {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .boxs {
      display: flex;
      gap: 10px;

      align-items: center;
      img {
        width: 80px;
        height: 80px;
      }
      .text_box {
        text-align: center;
        h1 {
          font-family: fmedium;
          color: #fff;
        }
        p {
          font-family: flight;
          font-weight: bold;
          color: #505050;
        }
      }
    }
  }
}

.massig {
  padding: 60px 0;
  .e_mail {
    .header_e_mail {
      text-align: center;
      padding: 20px 0;
      h1 {
        font-family: fmedium;
      }
      p {
        font-family: flight;
      }
    }
    .pig_section {
      gap: 40px;
      display: flex;
      flex-wrap: wrap;
      .section_e_mail {
        padding: 0 20px;
        display: flex;
        gap: 15px;
        .img_e_mail {
          img {
            width: 50px;
          }
        }
        .box_e_mail {
          padding: 10px;
          border-radius: 10px;
          width: 425px;
          background-color: #fafafa;
        }
        h3 {
          padding: 5px 0px;
          font-family: fmedium;
        }
        p {
          padding: 5px 0px;

          font-family: flight;
          font-weight: bold;
          color: #505050;
        }
        .p_fix {
          padding: 5px 0px;

          display: flex;
          gap: 20px;
          .deta {
            p {
              font-family: flight;
              color: #505050;
              &::before {
                content: " ";
                display: inline-block;
                background-image: url("../image/TIME.png");
                background-size: cover !important;
                height: 10px;
                width: 10px;
                margin-left: 2px;
              }
            }
          }
          .locution {
            p {
              font-family: flight;
              color: #505050;

              &::before {
                content: " ";
                display: inline-block;
                background-image: url("../image/loction.png");
                background-size: cover !important;
                height: 10px;
                width: 10px;
                margin-left: 2px;
              }
            }
          }
          .moreoption {
            P {
              font-family: flight;
              color: #505050;

              &::before {
                content: " ";
                display: inline-block;
                background-image: url("../image/massig.png");
                background-size: cover !important;
                height: 10px;
                width: 10px;
                margin-left: 2px;
              }
            }
          }
        }
      }
    }
  }
}
.data_call {
  // border-bottom: #505050 solid 2px;
  box-shadow: 0px 20px 10px 2px rgba(80, 80, 80, 0.315);
  padding: 80px 0px;
  .big_section {
    display: flex;
    justify-content: space-between;
    .img {
      img {
        width: 500px;
        height: 327px;
      }
    }
    .tokMe {
      font-family: flight;
      .centerp {
        text-align: center;
        font-family: fmedium;
      }
      .pGrup {
        font-weight: bold;
      }
      // text-align: center;
      display: flex;
      padding: 10px;
      justify-content: center;
      flex-direction: column;
      gap: 15px;
      // background-color: #f5f2f2;
      border: #9b9b9b solid 1px;
      border-radius: 8px;
      width: 270px;
    }
    .timeWork {
      font-family: flight;
      text-align: center;
      align-items: center;
      .centerp {
        text-align: center;
        font-family: fmedium;
      }

      .backgrondt {
        background-color: #edbf47;
        width: 130px;
      }
      samp {
        color: #3a55ee;
        font-weight: bold;
      }
      display: flex;
      padding: 10px;
      flex-direction: column;
      justify-content: center;
      gap: 15px;
      border: #9b9b9b solid 1px;
      // background-color: #f5f2f2;
      border-radius: 8px;
      width: 270px;
    }
  }
}
footer {
  padding: 50px 0;

  h1 {
    font-family: fge;
    text-align: center;
    color: #505050;
  }
  p {
    text-align: center;
    font-family: fmedium;
    font-size: 18px;
    color: #505050;
  }
  ul {
    display: flex;
    gap: 30px;
    justify-content: center;
    padding: 50px 0 0 0;

    li {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #ffffff;
      border: #505050 solid 2px;
      a {
        i {
          color: #505050;
        }
      }
    }
  }
}
